/*@import url('https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap');*/

body {
  background-color: #f2f2f2;
  font-family: "Arial Narrow", Arial, serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  /*margin-top: 70px;*/
  margin: 10px;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Arial Narrow", Arial, serif;
  font-weight: 300;
  color: #333;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

a {
  color: #f85c37;
}

a.hover, a.focus {
  text-decoration: none;
  color: #7b7b7b;
  outline: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  text-align: center;
}

th{
  background: silver;
  /*text-align: center;*/
}

td, th {
  /*padding: 5px;*/
  border: 1px solid black;
}

:required {
  border: 1px solid red
}

select {
  max-width: 100%;
  /*height: 30px;*/
  border: 1px solid #999;
  /*font-size: 18px;*/
  /*background-color: #fff;*/
  border-radius: 5px;
  /*box-shadow: 4px 4px #ccc;*/
  margin-top: 5px;
  margin-bottom: 5px;
}

/*select:required:invalid {
  color: gray;
}

select, option {
  color: black;
}
*/
/*option:not(:first-of-type) {
  color: black;
}
*/
input {
  max-width: 100%;
  /*height: 30px;*/
  border: 1px solid #999;
  border-radius: 5px;
  /*box-shadow: 4px 4px #ccc;*/
  margin-top: 5px;
  margin-bottom: 5px;
}

.container {
  width: 100%;
  /*margin: 10px;*/
}

.menu {
  height: 100%;
  width: 200px;
  float: left;
  /*background-color: cyan;*/
  /*margin-right: 20px;*/
  position: fixed;
  z-index: 1;
/*  top: 10px;
left: 10px;*/
overflow-x: hidden;
}

.content {
  /*background-color: yellow;*/
  /*overflow-x: scroll;*/
  /*padding-left: 10px;*/
  margin-left: 210px;
}
