@import url('https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap');

body {
  background-color: #f2f2f2;
  font-family: "Lato", serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  /*margin-top: 70px;*/
  margin: 10px;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Raleway", serif;
  font-weight: 300;
  color: #333;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

li {
  text-decoration: none;
}

a {
  color: #f85c37;
}

a.hover, a.focus {
  text-decoration: none;
  color: #7b7b7b;
  outline: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.container {
  width: 100%;
  /*margin: 10px;*/
}

.menu {
  width: 200px;
  float: left;
  background-color: red;
  margin-right: 10px;
}

.content {
  background-color: yellow;
  overflow-x: scroll;
}
